// 2016-08-09
form.dfe_all_pay {
	.choice.one-off {
		> input, > label {vertical-align: baseline;}
		> label {
			> :first-child {
				font-weight: 600;
				font-size: 1.8rem;
			}
		}
	}
	h3 {margin-top: 0;}
	h4 {margin: 0 0 0.5em 0;}
	table.plans {
		width: auto;
		margin-top: 1.25em;
		caption {
			width: auto;
			height: auto;
			margin: auto;
			position: initial;
			text-align: left;
		}
		th, td {
			padding: 0.25em 0;
			&:nth-child(1) {width: 10em;}
			&:nth-child(2) {width: 10em;}
			&:nth-child(3) {width: 10em;}
		}
		tbody > tr:hover {background-color: rgb(245, 245, 245);}
		td {cursor: default;}
	}
	&.with-options.has-plans {
		width: 100%;
		overflow: hidden;
		margin-bottom: 1em;
		> .container {
			width: 50%;
			float: left;
			&.container-one-off .choice {padding: 0.25em 0;}
			table.plans {margin-top: 0;}

		}
	}
}
