// 2016-08-09
form.dfe_all_pay {
	// 2017-03-04
	// @used-by Dfe_AllPay/one-off/simple
	// https://github.com/mage2pro/allpay/blob/1.1.38/view/frontend/web/template/one-off/simple.html?ts=4#L1
	// Этот шаблон используется при выполнении сразу обоих следующих условий:
	// 1) Администратор предпочёл выбор покупателем варианта оплаты
	// на странице allPay, а не на странице Magento.
	// 2) Оплата в рассрочку включена.
	.choice.one-off {
		// 2017-03-05
		// Добавил [type=radio], чтобы правило было весомее общего правила из Df_Checkout.
		> input[type=radio] {display: block; float: left; margin-top: 0.5em;}
		> label {
			display: block; margin-left: 1.5em;
			> :first-child {font-weight: 600; font-size: 1.8rem;}
		}
	}
	table.plans {
		width: auto;
		th, td {padding: 0.25em 0; &:not(:last-child) {padding-right: 1em;}}
		td {padding-left: 0.2em;}
		tbody > tr {&:hover, &.selected {background-color: rgb(245, 245, 245);}}
		td {cursor: default;}
	}
	&.has-plans {
		margin-bottom: 1em;
		> .container:not(:first-child) {margin-top: 1em;}
	}
	&.with-options {
		&.has-plans.df-wide {
			width: 100%;
			overflow: hidden;
			> .container {
				float: left;
				&:not(:first-child) {margin-top: 0; margin-left: 4em;}
			}
		}
	}
}