<div class='field choice'>
	<input type='radio' name='plan' class='radio' id='df-plan-0' value='0' checked />
	<label class='label' for='df-plan-0'>
		<span data-bind='html: oneOff()'></span>
		<div data-bind='html: oneOffMethods()'></div>
	</label>
</div>
<h3 data-bind="i18n: 'Installment Plans'"></h3>
<!-- ko foreach: iPlans() -->
	<div class='field choice'>
		<input
			data-bind="attr: {'id': domId()}, value: months"
			type='radio' name='plan' class='radio'
		/>
		<label data-bind="attr: {'for': domId()}" class='label'>
			<span data-bind='html: duration()'></span>
			<div data-bind='html: firstPaymentS()'></div>
			<div data-bind='html: amountS()'></div>
		</label>
	</div>
<!--/ko-->

