<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<all_pay>
				<!--
					2016-08-22
					Значением этой опции по умолчанию и так является true:
					@see \Df\Payment\Settings::askForBillingAddress()
					Однако здесь это значение всё равно нужно указать,
					чтобы галка была установлена для чекбокса.
				-->
				<askForBillingAddress>1</askForBillingAddress>
				<countries>TW</countries>
				<country_restriction>whitelist</country_restriction>
				<!--
				 	2016-09-06
				 	Платёжная система AllPay допускает транзакции только в TWD,
				 	поэтому мы не делаем опцию выбора валюты в system.xml.
				 -->
				<currency>TWD</currency>
				<description>{store.name}</description>
				<descriptionOnKiosk>{store.name}</descriptionOnKiosk>
				<!-- 2016-12-20 -->
				<logConfirmations>1</logConfirmations>
				<messageFailure><![CDATA[Sorry, the payment attempt is failed.
<br/>The payment service's message is «<b>{originalMessage}</b>».
<br/>Please try again, or try another payment method.]]></messageFailure>
				<optionsLocation>magento</optionsLocation>
				<paymentIdentificationType>order_increment_id</paymentIdentificationType>
				<testHashIV>v77hoKGq4kWxNNIS</testHashIV>
				<!--
					2016-06-29
					Note that we encrypt the live keys, but do not encrypt the test keys.
				-->
				<testHashKey>5294y06JbISpM5x9</testHashKey>
				<testMerchantID>2000132</testMerchantID>
				<title>歐付寶 allPay</title>
				<title_backend>歐付寶 allPay</title_backend>
				<waitPeriodATM>3</waitPeriodATM>
				<waitPeriodType>calendar_days</waitPeriodType>
			</all_pay>
		</df_payment>
        <payment>
            <dfe_all_pay>
				<model>Dfe\AllPay\Method</model>
            </dfe_all_pay>
        </payment>
    </default>
</config>
