<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<virtualType name='Dfe\AllPay\Ext' type='Df\Config\Ext'>
		<arguments>
			<argument name='name' xsi:type='string'>mage2pro/allpay</argument>
		</arguments>
	</virtualType>
</config>