<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<virtualType name='Dfe\AllPay\Enabler' type='Df\Framework\Form\Element\Enabler'>
		<arguments>
			<argument name='requirements' xsi:type='array'>
				<item xsi:type='object' name='currency'>Dfe\AllPay\Enable\Requirement\Currency</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name='Dfe\AllPay\Enable\Requirement\Currency' type='Df\Framework\Form\Element\Enable\Requirement\Currency'>
		<arguments>
			<argument name='iso3' xsi:type='string'>TWD</argument>
		</arguments>
	</virtualType>
</config>