<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
        <section id='df_payment'>
            <!--
                2015-09-25
                1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
                в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
				3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
                в английском алфавите.
            -->
			<!--
			 	2016-04-12
			 	Нельзя использовать значение «checkout.com»,
			 	(хотя среда разработки (валидатор XSD) об этом почему-то не предупреждает):
			 	Element 'group', attribute 'id': [facet 'pattern']
			 	The value 'checkout.com' is not accepted by the pattern '[a-zA-Z0-9_]{1,}'.
			-->
            <group
                id='all_pay'
                translate='label'
                type='text'
                sortOrder='112'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label>歐付寶 allPay</label>
				<dfExtension>Dfe\AllPay\Ext</dfExtension>
				<frontend_model>Df\Config\Block\System\Config\Form\Fieldset\Ext</frontend_model>
                <field
                    id='enable'
                    translate='label'
                    type='Df\Framework\Form\Element\Enable'
                    sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
                >
                    <label>Enable?</label>
					<backend_model>Df\Framework\Form\Element\Enable\Backend</backend_model>
					<!--
2016-06-30
Можно, конечно, передавать этот класс в качестве параметра класса backend_model или type
(используя технологию virtualType), однако у предков как backend_model, так и type
слишком много параметров в конструкторе, и пересылка их предку может сделать систему чересчур хрупкой:
ведь в будущих версиях Magento перечень параметров предка может измениться.
					-->
					<dfEnabler>Dfe\AllPay\Enabler</dfEnabler>
                    <comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/allpay' target='_blank'>歐付寶 allPay</a>» payment extension?]]></comment>
                </field>
				<field
					id='title'
					translate='label'
					type='text'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1817' target='_blank'>test card numbers</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testMerchantID'
					translate='label'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test Merchant ID (商店代號)</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1822' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry validate-digits validate-length maximum-length-10</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testHashKey'
					translate='label'
					sortOrder='5'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test ALL IN ONE 介接 HashKey</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1823' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testHashIV'
					translate='label'
					sortOrder='6'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test ALL IN ONE 介接 HashIV</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1824' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='liveMerchantID'
					translate='label'
					sortOrder='7'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Merchant ID (商店代號)</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1822' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry validate-digits validate-length maximum-length-10</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveHashKey'
					translate='label'
					type='obscure'
					sortOrder='8'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live ALL IN ONE 介接 HashKey</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1823' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveHashIV'
					translate='label'
					type='obscure'
					sortOrder='9'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live ALL IN ONE 介接 HashIV</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1824' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='description'
					translate='label'
					type='textarea'
					sortOrder='11'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Description</label>
					<comment><![CDATA[It will be displayed to the customer on the 歐付寶 allPay payment page.
<br/>Up to 200 characters.
<br/>You can use <a href='https://mage2.pro/t/topic/1834' target='_blank'>the following variables in the template</a>.]]></comment>
<!--
	2016-07-01
	Не используем здесь validate-length, потому что описание допускает параметры,
	и реальная длина описания нам не известна вплоть до момента вычисления значения этих параметров.
-->
					<validate>required-entry</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='descriptionOnKiosk'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
					dfRows='4'
					sortOrder='12'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Description on a kiosk's screen</label>
					<comment><![CDATA[It will be displayed to the customer <a href='https://mage2.pro/t/1828' target='_blank'>on a kiosk's screen</a>.
<br/>Up to <b>4 lines</b> with up to <b>20 characters</b> on each line.
<br/>You can use <a href='https://mage2.pro/t/topic/1834' target='_blank'>the same variables</a> as for the «Description» parameter above.]]></comment>
<!--
	2016-07-01
	Не используем здесь validate-length, потому что описание допускает параметры,
	и реальная длина описания нам не известна вплоть до момента вычисления значения этих параметров.
-->
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='messageFailure'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
					dfRows='4'
					sortOrder='13'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Failure Message</label>
					<comment><![CDATA[The failure message will be displayed to the customer on the checkout screen when the customer returns from the allPay payment page to the store after an unsuccessful payment attempt.
<br/>You can use HTML tags and the following variables in the template: <table class='df-note'><tbody>
		<tr>
			<td>{originalMessage}</td>
			<td>A message from allPay<br/>(a value of the «<code>RtnMsg</code>» response parameter)</td>
		</tr>
</tbody></table>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='paymentIdentificationType'
					translate='label'
					type='select'
					sortOrder='14'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Payment Identification Type</label>
					<source_model>Dfe\AllPay\Source\PaymentIdentificationType</source_model>
					<comment><![CDATA[
<p class='note'>«<b>Order Increment ID</b>» is the recommended value for the most shops,
because it allows you to locate a payment in the allPay Merchant Backend
knowing only the order's increment identifier.</p>
<p class='note'>allPay allows only digits and the Latin letters in the payment identifiers,
so the «Order Increment ID» option will not work if order identifiers
contain some other symbols.</p>
<p class='note'>For example, the «<a href='https://mage2.pro/t/topic/512' target='_blank'>Sales Documents Numeration</a>» extension allows you to implement a custom order numeration scheme like <b>ORD-2016/07-00327</b>.</p>
<p class='note'>If you use such non-standard orders numbers, then choose the «<b>Autogenerated Random ID</b>» value for the «Payment Identification Type» option.</p>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='waitPeriodATM'
					translate='label'
					type='text'
					sortOrder='15'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Wait period for an ATM payment</label>
					<comment><![CDATA[In days.]]></comment>
					<validate>validate-digits validate-digits-range digits-range-1-60</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='waitPeriodType'
					translate='label'
					type='select'
					sortOrder='16'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Wait Period Type</label>
					<source_model>Dfe\AllPay\Source\WaitPeriodType</source_model>
					<comment><![CDATA[You can set the working days with the<br/>«<b>General</b>» → «<b>General</b>» → «<b>Locale Options</b>» → «<b>Weekend Days</b>» option.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='optionsLocation'
					translate='label'
					type='select'
					sortOrder='17'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Where to ask for a payment option?</label>
					<source_model>Dfe\AllPay\Source\PaymentOptionsLocation</source_model>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='askForBillingAddress'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='18'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Ask for the Billing Address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It it the default Magento behaviour.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='methodsLimit'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='19'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Limit Payment Methods Availability?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If checked, only the specified methods will be available to the customers.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='methodsAllowed'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
					sortOrder='20'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Allowed Payment Methods</label>
					<source_model>Dfe\AllPay\Source\Method</source_model>
					<comment><![CDATA[Please specify the allowed payment methods.]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='methodsLimit'>1</field>
					</depends>
				</field>
				<field
					id='min_order_total'
					translate='label'
					type='text'
					sortOrder='21'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					translate='label'
					type='text'
					sortOrder='22'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					translate='label'
					type='select'
					sortOrder='23'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
					sortOrder='24'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
						<!--
						 	2016-03-08
						 	«The negative syntax for the backend config field <depends> condition»
                            https://mage2.pro/t/329
						-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
				<group
					id='installment_sales'
					translate='label'
					type='text'
					sortOrder='25'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Installment Sales</label>
					<field
						id='enable'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
						sortOrder='1'
						showInDefault='1'
						showInWebsite='1'
						showInStore='1'
					>
						<label>Enable?</label>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[]]></comment>
					</field>
					<field
						id='plans'
						translate='label'
						type='Df\Framework\Form\Element\ArrayT'
						dfItemFormElement='Dfe\AllPay\InstallmentSales\Plan\FormElement'
						dfEntity='Dfe\AllPay\InstallmentSales\Plan\Entity'
						sortOrder='2'
						showInDefault='1'
						showInWebsite='1'
						showInStore='1'
					>
						<label>Plans</label>
						<comment><![CDATA[]]></comment>
						<backend_model>Df\Config\Backend\ArrayT</backend_model>
						<depends><field id='enable'>1</field></depends>
					</field>
				</group>
			</group>
        </section>
    </system>
</config>