<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<group
				id='all_pay'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='112'
				translate='label'
			>
				<label>歐付寶 allPay</label>
				<dfExtension>Dfe_AllPay</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
<!--
2016-06-30
Можно, конечно, передавать этот класс в качестве параметра класса backend_model или type
(используя технологию virtualType), однако у предков как backend_model, так и type
слишком много параметров в конструкторе, и пересылка их предку может сделать систему чересчур хрупкой:
ведь в будущих версиях Magento перечень параметров предка может измениться.
-->
					<dfValidator>Dfe\AllPay\Validator\Currency</dfValidator>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/allpay' target='_blank'>歐付寶 allPay</a>» payment extension?]]></comment>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1817' target='_blank'>The test bank card</a>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testMerchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
				>
					<label>Test Merchant ID (商店代號)</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1822' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry validate-digits validate-length maximum-length-10</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testHashKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
				>
					<label>Test ALL IN ONE 介接 HashKey</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1823' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testHashIV'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
				>
					<label>Test ALL IN ONE 介接 HashIV</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1824' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='liveMerchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
				>
					<label>Live Merchant ID (商店代號)</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1822' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry validate-digits validate-length maximum-length-10</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveHashKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='obscure'
				>
					<label>Live ALL IN ONE 介接 HashKey</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1823' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveHashIV'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='9'
					translate='label'
					type='obscure'
				>
					<label>Live ALL IN ONE 介接 HashIV</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1824' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='description'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='textarea'
				>
					<label>Description</label>
					<comment><![CDATA[It will be displayed to the customer on the 歐付寶 allPay payment page.
<br/>Up to 200 characters.
<br/>You can use <a href='https://mage2.pro/t/1834' target='_blank'>variables</a> in the description.]]></comment>
<!--
2016-07-01
Не используем здесь validate-length, потому что описание допускает параметры,
и реальная длина описания нам не известна вплоть до момента вычисления значения этих параметров.
-->
					<validate>required-entry</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfRows='4'
					id='descriptionOnKiosk'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>Description on a kiosk's screen</label>
					<comment><![CDATA[It will be displayed to the customer <a href='https://mage2.pro/t/1828' target='_blank'>on a kiosk's screen</a>.
<br/>Up to <b>4 lines</b> with up to <b>20 characters</b> on each line.
<br/>You can use <a href='https://mage2.pro/t/1834' target='_blank'>the same variables</a> as for the «Description» parameter above.]]></comment>
<!--
2016-07-01
Не используем здесь validate-length, потому что описание допускает параметры,
и реальная длина описания нам не известна вплоть до момента вычисления значения этих параметров.
-->
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfRows='4'
					id='messageFailure'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>Failure Message</label>
					<comment><![CDATA[The failure message will be displayed to the customer on the checkout screen when the customer returns from the allPay payment page to the store after an unsuccessful payment attempt.
<br/>You can use HTML tags and the following variables in the template: <table class='df-note'><tbody>
		<tr>
			<td>{originalMessage}</td>
			<td>A message from allPay<br/>(a value of the «<code>RtnMsg</code>» response parameter)</td>
		</tr>
</tbody></table>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='identification'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
					type='select'
				>
					<label>Payment Identification Type</label>
					<source_model>Df\PaypalClone\Source\Identification</source_model>
					<comment><![CDATA[
<p class='note'>«<b>Visible ID</b>» is the recommended value for the most shops,
because it allows you to locate a payment in the allPay Merchant Backend
knowing only the order's visible identifier.</p>
<p class='note'>allPay allows only digits and the Latin letters in the payment identifiers,
so the «Visible ID» option will not work if order identifiers
contain some other symbols.</p>
<p class='note'>For example, the «<a href='https://mage2.pro/t/512' target='_blank'>Sales Documents Numeration</a>» extension allows you to implement a custom order numeration scheme like <b>ORD-2016/07-00327</b>.</p>
<p class='note'>If you use such non-standard orders numbers, then choose the «<b>Internal Random ID</b>» value for the «Payment Identification Type» option.</p>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='waitPeriodATM'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='text'
				>
					<label>Wait period for an ATM payment</label>
					<comment><![CDATA[In days.]]></comment>
					<validate>validate-digits validate-digits-range digits-range-1-60</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='waitPeriodType'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='select'
				>
					<label>Wait Period Type</label>
					<source_model>Df\Config\Source\WaitPeriodType</source_model>
					<comment><![CDATA[You can set the working days with the<br/>«<b>General</b>» → «<b>General</b>» → «<b>Locale Options</b>» → «<b>Weekend Days</b>» option.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='optionsLocation'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='select'
				>
					<label>Where to ask for a payment option?</label>
					<source_model>Df\PaypalClone\Source\OptionsLocation</source_model>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='18'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behaviour.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='optionsLimit'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='19'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Limit Payment Options Availability?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If checked, only the specified options will be shown to the customers.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='optionsAllowed'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='20'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Allowed Payment Options</label>
					<source_model>Dfe\AllPay\Source\Option</source_model>
					<comment><![CDATA[They will be shown to the customers on the Magento checkout screen or on the allPay payment page (it depends on your choice for the «Where to ask for a payment option?» option above).]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLimit'>1</field>
					</depends>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='21'
					translate='label'
					type='text'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='22'
					translate='label'
					type='text'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='23'
					translate='label'
					type='select'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='24'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
				<field
					id='log'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='25'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Log the API requests and responses?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[The logs will be stored in the <b>var/log/mage2.pro</b> folder. Use them for debugging.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<group
					id='installment_sales'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='27'
					translate='label'
				>
					<label>Installment Sales</label>
					<field
						id='enable'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<label>Enable?</label>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[]]></comment>
					</field>
					<field
						dfEntity='Dfe\AllPay\InstallmentSales\Plan\Entity'
						dfItemFormElement='Dfe\AllPay\InstallmentSales\Plan\FormElement'
						id='plans'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='Df\Framework\Form\Element\ArrayT'
					>
						<label>Plans</label>
						<comment><![CDATA[]]></comment>
						<backend_model>Df\Config\Backend\ArrayT</backend_model>
						<depends><field id='enable'>1</field></depends>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>