<!-- 2017-03-04
Этот шаблон используется при выполнении сразу обоих следующих условий:
1) Администратор предпочёл выбор покупателем варианта оплаты
на странице allPay, а не на странице Magento.
2) Оплата в рассрочку включена.
-->
<div class='field choice one-off'>
	<input
		checked class='radio'
		data-bind="attr: {id: fid('undefined')}, checked: option"
		name='option' type='radio' value='undefined'
	/>
	<label data-bind="attr: {for: fid('undefined')}" class='label'>
<!-- 2017-03-01
Показывает текст с размером платежа: «One-off Payment: : <...>».
https://github.com/mage2pro/allpay/blob/1.1.32/view/frontend/web/main.js?ts=4#L80-L83 -->
		<span data-bind='html: oneOff()'></span>
	</label>
</div>
<!-- ko template: {
	data: $data, name: 'Df_Payment/withOptions'
} --><!-- /ko -->