<!--ko if: hasPlans() -->
<!-- 2017-03-01
Показывает текст с размером платежа: «One-off Payment: : <...>».
https://github.com/mage2pro/allpay/blob/1.1.32/view/frontend/web/main.js?ts=4#L80-L83 -->
	<h3 data-bind='html: oneOff()'></h3>
<!--/ko-->
	<h4 data-bind="i18n: 'Please select a payment option:'"/>
<!-- ko foreach: optionsA() -->
	<div class='field choice'>
		<input data-bind="attr: {'id': domId}, value: value" type='radio' name='option' class='radio'/>
		<label data-bind="attr: {'for': domId}" class='label'>
			<span data-bind='html: label'></span>
		</label>
	</div>
<!--/ko-->