<!-- 2017-03-04
Этот шаблон используется при выполнении сразу обоих следующих условий:
1) Администратор предпочёл выбор покупателем варианта оплаты
на странице Magento, а не на странице allPay.
2) Оплата в рассрочку включена.
-->
<!--ko if: hasPlans() -->
<!-- 2017-03-01
Показывает текст с размером платежа: «One-off Payment: : <...>».
https://github.com/mage2pro/allpay/blob/1.1.32/view/frontend/web/main.js?ts=4#L80-L83 -->
<h3 data-bind='html: oneOff()'></h3>
<!--/ko-->
<!-- 2017-09-18
`hideTitle: true` hides the «Please select a payment option» caption above the options:
https://github.com/mage2pro/core/blob/2.12.5/Payment/view/frontend/web/template/withOptions.html#L7-L9
-->
<!-- ko template: {
	data: require('df').o.merge($data, {hideTitle: true}), name: 'Df_Payment/withOptions'
} --><!-- /ko -->